:root {
    --text: #E2725B;
    --alt-text: #569A62;
    --back: #F9F9F9;
    --alt-back: #6B7A8F;
    --accent: #FFD700;
}

body {
    background-color: var(--back);
}

#content {
    background-color: var(--alt-back);
    width: 50vw;
    height: 100vh;
    margin: auto;
}

.main-content {
    text-align: center;
    color: var(--text);
}

ul {
    list-style: none;
}

.hidden {
    display: none;
}

.header {
    background-color: var(--alt-back);
    border-bottom: 2px solid var(--accent);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    margin-left: 2wv;
    margin-right: 2vw;
}

.header > * {
    display: flex;
    gap: 20px;
}

.logo {
    width: 50px;
    height: 50px;
}